
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
</head>
<body>
    <div style="text-align:center">
        Access Denied <br />
        <a href="/" class="btn btn-default">Trang chủ</a>&nbsp;
    </div>
</body>
</html>
