
@{
    ViewBag.Title = "ShowPopup";
}
<div>
    The order has been updated page a payload. Would you like to approve the change(s)
</div>
<br /><br />
@*<div class="center">
    <span>
        <button class="action-button">Order</button>
    </span>
    &#160;&#160;
    <span>
        <button class="action-button" onclick="showpopupdetail()">Append/Replace</button>
    </span>
    &#160;&#160;
    <span>
        <button type="button" class="action-button" onclick="$(this).parents('.ui-dialog').find('.ui-dialog-titlebar-close').click()">Skip</button>
    </span>
</div>*@



