USE [master]
GO
/****** Object:  Database [dbWorldCupBet]    Script Date: 6/29/2018 4:59:16 PM ******/
CREATE DATABASE [dbWorldCupBet] 
GO
USE [dbWorldCupBet]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 6/29/2018 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[MatchId] [int] NULL,
	[BetType] [int] NULL,
	[Content] [nvarchar](max) NULL,
	[Created] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bets]    Script Date: 6/29/2018 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BetId] [int] NOT NULL,
	[BetType] [int] NOT NULL,
	[MatchId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[BetTeam] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChampionBets]    Script Date: 6/29/2018 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChampionBets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[TeamCode] [varchar](5) NULL,
	[Created] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credentials]    Script Date: 6/29/2018 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credentials](
	[UserId] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 6/29/2018 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[MatchId] [int] IDENTITY(1,1) NOT NULL,
	[MatchRound] [varchar](10) NULL,
	[TeamCode1] [varchar](5) NOT NULL,
	[TeamCode2] [varchar](5) NOT NULL,
	[Score1] [int] NULL,
	[Score2] [int] NULL,
	[MatchTime] [datetime] NOT NULL,
	[IsStarted] [bit] NOT NULL,
	[IsFinished] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScoreBets]    Script Date: 6/29/2018 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScoreBets](
	[ScoreBetId] [int] IDENTITY(1,1) NOT NULL,
	[MatchId] [int] NOT NULL,
	[ScoreId] [int] NOT NULL,
	[Score1] [int] NOT NULL,
	[Score2] [int] NOT NULL,
	[IsRightScore] [bit] NOT NULL,
	[PaidRate] [float] NOT NULL,
	[IsLocked] [bit] NOT NULL,
 CONSTRAINT [PK__ScoreBet__05FA3870338A5712] PRIMARY KEY CLUSTERED 
(
	[ScoreBetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamBets]    Script Date: 6/29/2018 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamBets](
	[TeamBetId] [int] IDENTITY(1,1) NOT NULL,
	[MatchId] [int] NOT NULL,
	[Odds1] [float] NULL,
	[Odds2] [float] NULL,
	[PaidRate1] [float] NULL,
	[PaidRate2] [float] NULL,
	[WinTeam] [int] NULL,
	[IsLocked] [bit] NOT NULL,
 CONSTRAINT [PK__TeamBets__025B74B877A0B593] PRIMARY KEY CLUSTERED 
(
	[TeamBetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 6/29/2018 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamId] [int] IDENTITY(1,1) NOT NULL,
	[TeamCode] [varchar](5) NOT NULL,
	[TeamName] [nvarchar](50) NOT NULL,
	[Group] [char](1) NOT NULL,
	[IsOut] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnderOverBets]    Script Date: 6/29/2018 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnderOverBets](
	[UnderOverBetId] [int] IDENTITY(1,1) NOT NULL,
	[MatchId] [int] NOT NULL,
	[TotalGoalsBet] [float] NULL,
	[Result] [int] NULL,
	[PaidRate1] [float] NULL,
	[PaidRate2] [float] NULL,
	[IsLocked] [bit] NOT NULL,
 CONSTRAINT [PK__UnderOve__8223D75B282EC367] PRIMARY KEY CLUSTERED 
(
	[UnderOverBetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccounts]    Script Date: 6/29/2018 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccounts](
	[UserId] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Balance] [int] NOT NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/29/2018 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Fullname] [nvarchar](50) NULL,
	[UserRole] [int] NOT NULL,
	[IsFirstLogin] [bit] NOT NULL,
	[Created] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTransactions]    Script Date: 6/29/2018 4:59:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[MatchId] [int] NULL,
	[TransactionType] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Created] [datetime] NULL,
 CONSTRAINT [PK__UserTran__55433A6BCEFB923E] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] ON 

INSERT [dbo].[ActivityLogs] ([Id], [UserId], [MatchId], [BetType], [Content], [Created]) VALUES (1, 57, NULL, 1, N'Nạp <b>100.000 đ</b> vào tài khoản.', CAST(N'2018-06-14T09:29:21.043' AS DateTime))
INSERT [dbo].[ActivityLogs] ([Id], [UserId], [MatchId], [BetType], [Content], [Created]) VALUES (2, 5, NULL, 1, N'Nạp <b>100.000 đ</b> vào tài khoản.', CAST(N'2018-06-14T09:35:26.800' AS DateTime))
INSERT [dbo].[ActivityLogs] ([Id], [UserId], [MatchId], [BetType], [Content], [Created]) VALUES (3, 5, 1, 1, N'Đặt cược thành công trận <b>Nga - Ả-rập Xê-út</b>, cược <b>Ả-rập Xê-út</b> số tiền <b>50.000 đ</b>.', CAST(N'2018-06-14T09:35:41.670' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] OFF
SET IDENTITY_INSERT [dbo].[Bets] ON 

INSERT [dbo].[Bets] ([Id], [BetId], [BetType], [MatchId], [UserId], [BetTeam], [Amount], [Status], [IsLocked], [Created], [Updated]) VALUES (1, 1, 1, 1, 5, 2, 50000, 4, 0, CAST(N'2018-06-14T09:33:42.553' AS DateTime), CAST(N'2018-06-14T09:33:42.553' AS DateTime))
INSERT [dbo].[Bets] ([Id], [BetId], [BetType], [MatchId], [UserId], [BetTeam], [Amount], [Status], [IsLocked], [Created], [Updated]) VALUES (2, 1, 1, 1, 34, 2, 50000, 4, 0, CAST(N'2018-06-14T10:02:48.833' AS DateTime), CAST(N'2018-06-14T10:02:48.833' AS DateTime))
INSERT [dbo].[Bets] ([Id], [BetId], [BetType], [MatchId], [UserId], [BetTeam], [Amount], [Status], [IsLocked], [Created], [Updated]) VALUES (3, 1, 1, 1, 33, 2, 10000, 4, 0, CAST(N'2018-06-14T14:47:52.050' AS DateTime), CAST(N'2018-06-14T14:47:52.050' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Bets] OFF
INSERT [dbo].[Credentials] ([UserId], [Username], [Password]) VALUES (1, N'VanNTN', N'qvJvKxuq38vcCM1SNHe7VfqBANV0+fM=')
INSERT [dbo].[Credentials] ([UserId], [Username], [Password]) VALUES (2, N'LienTT', N'AsuuoRos0m9ushU4/PypUkuF++sqIHg=')
INSERT [dbo].[Credentials] ([UserId], [Username], [Password]) VALUES (3, N'TamTTT', N'NszG4CXTIgmIPXq2NnxlFJUBl6BkOfw=')
GO
SET IDENTITY_INSERT [dbo].[Matches] ON 

INSERT [dbo].[Matches] ([MatchId], [MatchRound], [TeamCode1], [TeamCode2], [Score1], [Score2], [MatchTime], [IsStarted], [IsFinished]) VALUES (1, N'A', N'RUS', N'SAU', 5, 0, CAST(N'2018-06-14T22:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Matches] ([MatchId], [MatchRound], [TeamCode1], [TeamCode2], [Score1], [Score2], [MatchTime], [IsStarted], [IsFinished]) VALUES (2, N'A', N'EGY', N'URY', 0, 1, CAST(N'2018-06-15T19:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Matches] ([MatchId], [MatchRound], [TeamCode1], [TeamCode2], [Score1], [Score2], [MatchTime], [IsStarted], [IsFinished]) VALUES (3, N'B', N'MAR', N'IRN', 0, 1, CAST(N'2018-06-15T22:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Matches] OFF
SET IDENTITY_INSERT [dbo].[TeamBets] ON 

INSERT [dbo].[TeamBets] ([TeamBetId], [MatchId], [Odds1], [Odds2], [PaidRate1], [PaidRate2], [WinTeam], [IsLocked]) VALUES (1, 1, 0, 1.25, 1, 1, 1, 1)
INSERT [dbo].[TeamBets] ([TeamBetId], [MatchId], [Odds1], [Odds2], [PaidRate1], [PaidRate2], [WinTeam], [IsLocked]) VALUES (2, 2, 1, 0, 0.86, 0.92, 0, 1)
INSERT [dbo].[TeamBets] ([TeamBetId], [MatchId], [Odds1], [Odds2], [PaidRate1], [PaidRate2], [WinTeam], [IsLocked]) VALUES (3, 3, 0, 0.25, 0.91, 0.97, 2, 1)
SET IDENTITY_INSERT [dbo].[TeamBets] OFF
SET IDENTITY_INSERT [dbo].[Teams] ON 

INSERT [dbo].[Teams] ([TeamId], [TeamCode], [TeamName], [Group], [IsOut]) VALUES (2, N'RUS', N'Nga', N'A', 0)
INSERT [dbo].[Teams] ([TeamId], [TeamCode], [TeamName], [Group], [IsOut]) VALUES (3, N'SAU', N'Ả-rập Xê-út', N'A', 1)
INSERT [dbo].[Teams] ([TeamId], [TeamCode], [TeamName], [Group], [IsOut]) VALUES (4, N'EGY', N'Ai Cập', N'A', 1)
SET IDENTITY_INSERT [dbo].[Teams] OFF
SET IDENTITY_INSERT [dbo].[UnderOverBets] ON 

INSERT [dbo].[UnderOverBets] ([UnderOverBetId], [MatchId], [TotalGoalsBet], [Result], [PaidRate1], [PaidRate2], [IsLocked]) VALUES (1, 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[UnderOverBets] ([UnderOverBetId], [MatchId], [TotalGoalsBet], [Result], [PaidRate1], [PaidRate2], [IsLocked]) VALUES (2, 2, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[UnderOverBets] ([UnderOverBetId], [MatchId], [TotalGoalsBet], [Result], [PaidRate1], [PaidRate2], [IsLocked]) VALUES (3, 3, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[UnderOverBets] OFF
INSERT [dbo].[UserAccounts] ([UserId], [Username], [Balance], [Created], [Updated]) VALUES (1, N'VanNTN', 0, CAST(N'2018-06-14T15:38:57.950' AS DateTime), NULL)
INSERT [dbo].[UserAccounts] ([UserId], [Username], [Balance], [Created], [Updated]) VALUES (2, N'LienTT', 0, CAST(N'2018-06-14T15:38:57.990' AS DateTime), NULL)
INSERT [dbo].[UserAccounts] ([UserId], [Username], [Balance], [Created], [Updated]) VALUES (3, N'TamTTT', 4750, CAST(N'2018-06-14T15:38:58.000' AS DateTime), CAST(N'2018-06-29T16:41:38.647' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Fullname], [UserRole], [IsFirstLogin], [Created]) VALUES (1, N'VanNTN', N'Nguyễn Thị Ngọc Vân', 2, 1, CAST(N'2018-06-14T15:38:57.883' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [Fullname], [UserRole], [IsFirstLogin], [Created]) VALUES (2, N'LienTT', N'Trần Thùy Liên', 2, 1, CAST(N'2018-06-14T15:38:57.963' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [Fullname], [UserRole], [IsFirstLogin], [Created]) VALUES (3, N'TamTTT', N'Trương Thị Thanh Tâm', 2, 0, CAST(N'2018-06-14T15:38:57.997' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[UserTransactions] ON 

INSERT [dbo].[UserTransactions] ([TransactionId], [UserId], [MatchId], [TransactionType], [Amount], [Created]) VALUES (1, 57, NULL, 1, 100000, CAST(N'2018-06-14T09:29:21.043' AS DateTime))
INSERT [dbo].[UserTransactions] ([TransactionId], [UserId], [MatchId], [TransactionType], [Amount], [Created]) VALUES (2, 5, NULL, 1, 100000, CAST(N'2018-06-14T09:35:26.800' AS DateTime))
INSERT [dbo].[UserTransactions] ([TransactionId], [UserId], [MatchId], [TransactionType], [Amount], [Created]) VALUES (3, 5, 1, 3, 50000, CAST(N'2018-06-14T09:35:41.670' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[UserTransactions] OFF
USE [master]
GO
